<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/styles.css" />

    </head>

    <body>
        <center>
            <img id="image" src="/public/images/rdplogo.png" />
            <h4>Mock JSON Database Operations</h4>
        </center>

  <form id="addUserForm" method="POST" action="/users">
    <h4>Add User Form (POST HTTP method) </h4>

<input type="text" id="username" placeholder="Username" required />

<input type="text" id="first_name" placeholder="First Name:" required />

<input type="text" id="email" placeholder="Email:" required />


<button type="submit">Add User</button>

</form>

    </body>


</html>